html
    box-sizing border-box
    font-size: 14px
*, *:before, *:after
    box-sizing inherit

body
    color #333
    font-size 1rem
    font-family 'Helvetica Neue Cyr', sans-serif
    font-weight 400
        
a
    text-decoration underline
    color inherit
    transition all 0.3s
    &:hover
        text-decoration none

.icon
    display inline-block
    vertical-align middle
    position relative
    background-color: transparent
    padding: 0
    border none
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display block
        opacity: 0
        transition all 0.3s
    &:after
        content ''
        top 0
        left 0
        position: absolute
        opacity: 1
        transition all 0.3s
    + span
        display inline-block
        vertical-align middle

img
    max-width 100%

.nav-trigger-wrap
    float: left
    display: block
    margin-top: 14px
    +above($screen-sm)
        display: none

.nav-trigger
    margin: 0 auto
    hamburger-generator(22px, 3px, 4px)
    text-align center
    margin-top 15px
    position relative
    z-index 10
    &.active
        hamburger-animation()
    +above(880px)
        display none

.page-wrapper
    transition all 0.3s
    position: relative
    overflow: hidden
    &.active
        transform translateX(200px)
        
.container
    padding 0 10px
    +above($screen-sm)
        padding: 0 15px


.heading
    scandal()

.btn
    height: 40px
    text-decoration: none
    background-color: $blue
    display: inline-block
    color white
    padding 0 14px
    line-height: 39px
    text-transform: uppercase
    position: relative
    &:hover
        span
            color white
        &:before
            opacity: 1
        > svg
            fill white
    &:before 
        content ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background linear-gradient(to bottom, #55bbe6 0%, #55bbe6 50%, #4dabd2 50%, #4dabd2 100%)
        transition opacity 0.3s
        opacity: 0
    svg
        vertical-align: middle
        margin-left: 10px
        z-index: 1
        position: relative
    span
        position: relative
        transition color 0.3s
        display: inline-block
        vertical-align: middle
        line-height: 1
    &-white
        background-color: white
        color $blue
    &-font-small
        font-size: 12px
        font-weight: 700

.mobile-menu
    background-color $blue
    color white
    width 200px
    padding 20px
    position fixed
    left 0
    top 0
    min-height 100%
    overflow auto
    transition transform 0.3s
    transform translateX(-100%)
    &.active
        transform translateX(0)
    +above(880px)
        display none
    a, span
        font-weight 700
        text-transform uppercase
        text-decoration none
        display block
        margin 10px 0
        font-size 1rem
        &:first-child
            margin-top 0
    span
        color white


.field
    height: 40px
    display: block
    width: 100%
    padding-left: 20px
    padding-right: 20px
    margin: 0 auto
    background-color: #fdfcfc
    border: 1px solid #dfdfdf
    &-text
        resize none
        height: 100px
        padding-top: 10px
    &:focus
        border-color: gray
        outline none

.fadeInUp
    animation fadeInUp

.animated
    animation-fill-mode both

svg {
    transition fill 0.3s
}
.icon-attach {
    width: 32em;
    height: 32em;
}
.icon-browser {
    width: 32.053em;
    height: 32.053em;
}
.icon-calculator {
    width: 20px;
    height: 20px;
    fill: #134c8a;
}
.icon-copyright {
    width: 18.452em;
    height: 18.452em;
}
.icon-diploma {
    width: 29.344em;
    height: 29.344em;
}
.icon-file {
    width: 32.002em;
    height: 32.002em;
}
.icon-handshake {
    width: 32em;
    height: 32em;
}
.icon-inclined-pendrive {
    width: 30.249em;
    height: 30.249em;
}
.icon-label {
    width: 18.438em;
    height: 18.438em;
}
.icon-law-book {
    width: 32em;
    height: 32em;
}
.icon-operator {
    width: 32em;
    height: 32em;
}
.icon-pen {
    width: 20px;
    height: 20px;
}
.icon-phone-call {
    width: 20px;
    height: 20px;
    fill: white
}
.icon-point-of-service {
    width: 3.75em;
    height: 3.75em;
}
.icon-pointed-star {
    width: 25.383em;
    height: 25.383em;
}
.icon-police {
    width: 32em;
    height: 32em;
}
.icon-shield {
    width: 31.375em;
    height: 31.375em;
}
.icon-siren {
    width: 32em;
    height: 32em;
}
.icon-smartphone {
    width: 20px;
    height: 20px;
    fill: #2b5f8e;
    vertical-align: middle
}
.icon-user {
    width: 32em;
    height: 32em;
}