.footer
	height: 130px
	background-color: #f3f3f3
	text-align: center
	font-size 0.857rem
	.logo
		vertical-align: middle
		display: inline-block
	+above($screen-sm)
		text-align: left
		padding-top: 25px
	&-info
		margin-top: 14px
		+above($screen-sm)
			display: inline-block
			vertical-align: middle
			margin-top: 0
			margin-left: 60px
	.phone-block
		font-size 1.286rem
		color $blue
		margin-bottom: 6px
		+above($screen-sm)
			margin-bottom: 20px
	.copy
		text-transform: uppercase
		span
			text-transform: none
			display: block
			color #999
			margin-top: 4px
	.made-by
		a
			color #1e5587
			text-transform: uppercase
			font-weight: 700
			display: block
			text-decoration: none